# Database Configuration
MONGO_URL=mongodb+srv://yashshaha999_db_user:MNeu9DCyR42Ycn57@cluster0.xswno2v.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Security Configuration
SECRET_KEY=creatoriq-super-secret-jwt-key-2026-secure
